// button {
//     width 60px;
//     border none;
//     height 40px;
//     color $color4;
//     background $main;
//     line-height 40px;
//     text-align center;
//     border-radius 10px;
// }
// .color-main{
//     background $main
// }
// .color-mainSecond{
//     background $mainSecond
// }
// .color-mainThird{
//     background $mainThird
// }
// .color-select{
//     background $select
// }