 .mask{
        background rgba(0,0,0,0.1);
        width 100vw;
        height  100vh;
        position fixed;
        left 0px;
        top 0;
    }
    .login{
        position absolute;
        left 0;
        right 0;
        top 0;
        bottom 0;
        margin auto;
        background #fff;
        width 400px;
        height 300px;
        border-radius 10px;
        text-align center;
    }